html{
    font-size: 62.5%;
    background-color: #000000;
    padding: 0px 0px 0px 0px
}
.section__portfolio{
    display: flex;
    background: black;
    background-color: black;
}

.Footer__text{
    text-align: center;
}

.container{
    padding: 5rem 0rem 5rem 0rem;
    
}

H2>display-6{
    color: black;
}