.left-side
.right-side {
    height: 0vh;
}

.navbar{
    display: flex;
}
.navbar-nav>li>a {
    color: #fff;
    font-size: 1.5rem;


    &>nav-link:hover {
    border-bottom: 1px solid #83ff00;
    }

    &>.active {
    border-bottom: 1px solid #fff;
    }
  
}

.left-side img {
    padding-top: 0px;
    width:100%;

    }


.right-side {
    padding-top: 150px;
}

.right-side h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.4em;
    text-align: center;
}

.right-side p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.btn.order-button {
    background: transparent;
    border: 2px solid #83ff00;
    color: #83ff00;
    border-radius: 30%;
    transition: 0.7s;
}

.btn.order-button:hover {
    border: 2px solid #fff;
    color: #fff;
}
