p{
    
    line-height: 1.6;

    font-style:normal;
    font-family: "open-sans", sans-serif;
    padding: 0.25rem 0rem 0.25rem 0rem;
    text-align:absolute;

 
    }
    

.lead {
        font-size: 1.5rem;
        FONT-WEIGHT: 100; 
        color: #000
 }
.lead2 {
    font-size: 1.5rem;
    FONT-WEIGHT: 100; 
    color: rgb(255, 255, 255)
}


.lead3 {
    font-size: 1.5rem;
    FONT-WEIGHT: 100; 
    color: #000
}
