h1{
    color:rgb(255, 255, 255); 
    font-size: 5,25rem;
    font-style:normal;
    font-family: "open-sans", sans-serif;
    padding: 0px;
} 
 /* primer comentario*/ 

 h2{
    color:rgb(255, 255, 255); 
    font-size: 30px;
    font-style:normal;
    font-family: "open-sans", sans-serif;
    padding: 0px;


}
.text-center {
    text-align: center!important;
}