@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

/* Fin del Reset */
html {
  font-size: 62.5%;
  background-color: #000000;
}

.section__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  background-color: black;
}

.Footer__text {
  text-align: center;
}

/* Componentes varios */
/* elementos delheader */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 0px 2px 0px;
  border: solid 0px black;
  margin: 10px 10px 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 50px;
  background: black;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  width: auto;
  height: 120%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__logo {
  width: auto;
  height: 100%;
}

.header__nav {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 1rem;
  font-size: 15px;
  font-style: normal;
  font-family: sans-serif;
  padding: 15px;
  display: inline;
}

/* FIN del header */
/* Inicio NAVBAR */
.left-side
.right-side {
  height: 100vh;
}

.navbar-nav > li > a {
  color: #fff;
}

.navbar-nav > li > a > li:hover {
  border-bottom: 1px solid #83ff00;
}

.navbar-nav > li > a > .active {
  border-bottom: 1px solid #fff;
}

.left-side img {
  padding-top: 0px;
  width: 100%;
}

.right-side {
  padding-top: 150px;
}

.right-side h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 2.4em;
  text-align: center;
}

.right-side p {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.btn.order-button {
  background: transparent;
  border: 2px solid #83ff00;
  color: #83ff00;
  border-radius: 30%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn.order-button:hover {
  border: 2px solid #fff;
  color: #fff;
}

/* FIN del NAVBAR */
/* Inicio Hero */
.hero {
  height: 130vh;
  background-color: white;
  background-image: url("../assets/KIA/Kia7.jpg");
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  position: relative;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0px 0px 0px 30px;
}

.hero__portfolio {
  height: 130vh;
  width: repeat;
  background-color: black;
  background: url("../assets/KIA/kia3.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  position: relative;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0px 0px 0px 30px;
}

.hero__button {
  display: flexbox;
  position: center;
  padding: 10px 40px 10px 30px;
  background: transparent;
  border: 2px solid #83ff00;
  color: #83ff00;
  border-radius: 30%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.hero__p {
  position: absolute;
  padding: 130px 10px 10px 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
}

.hero_h4 {
  font-style: italic;
  color: #000;
  padding: 0px 0px 0px 50px;
}

/* Fin de Hero */
/* Inicio de Tipografia */
h1 {
  color: white;
  font-size: 50px;
  font-style: normal;
  font-family: "open-sans", sans-serif;
  padding: 50px;
}

/* primer comentario*/
h2 {
  color: white;
  font-size: 30px;
  font-style: normal;
  font-family: "open-sans", sans-serif;
  padding: 15px;
}

h2--clases {
  color: black;
  font-size: 30px;
  font-style: normal;
  font-family: "open-sans", sans-serif;
  padding: 15px;
}

/* FIn de Tipografia */
/* elementos de parrafos */
p {
  color: white;
  line-height: 1.6;
  font-size: 15px;
  font-style: normal;
  font-family: "open-sans", sans-serif;
  padding: 25px 50px 20px 50px;
  text-align: center;
}

p--clases {
  color: black;
  font-size: 15px;
  font-style: normal;
  font-family: "open-sans", sans-serif;
  padding: 25px 50px 20px 50px;
  text-align: center;
}

p .p--lead {
  color: white;
}

/* FIN de elementos de parrafos */
/* Main secundario */
.main {
  overflow: hidden;
}

/* Fin de Main secundario */
/* social icons*/
body {
  background-color: #ddd;
  padding: 100px 20px 20px 20px;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10px;
}

.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  width: 70px;
  height: 70px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.social-button::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-button:focus, .social-button:hover {
  color: #fff;
}

.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-button i {
  font-size: 28px;
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button--mail {
  color: #0072c6;
}

.social-button--mail::after {
  background: #0072c6;
}

.social-button--facebook {
  color: #3b5999;
}

.social-button--facebook::after {
  background: #3b5999;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #6e5494;
}

.social-button--github::after {
  background: #6e5494;
}

.social-button--codepen {
  color: #212121;
}

.social-button--codepen::after {
  background: #212121;
}

.social-button--steam {
  color: #7da10e;
}

.social-button--steam::after {
  background: #7da10e;
}

.social-button--snapchat {
  color: #eec900;
}

.social-button--snapchat::after {
  background: #eec900;
}

.social-button--twitter {
  color: #55acee;
}

.social-button--twitter::after {
  background: #55acee;
}

.social-button--instagram {
  color: #e4405f;
}

.social-button--instagram::after {
  background: #e4405f;
}

.social-button--npmjs {
  color: #c12127;
}

.social-button--npmjs::after {
  background: #c12127;
}

/* FIN social icons*/
/* MIXIN*/
/*# sourceMappingURL=main.css.map */