@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

h1{
    color:rgb(255, 255, 255); 
    font-size: 50px;
    font-style:normal;
    font-family: "open-sans", sans-serif;
    padding: 50px;
} 
 /* primer comentario*/ 

 h2{
    color:rgb(255, 255, 255); 
    font-size: 30px;
    font-style:normal;
    font-family: "open-sans", sans-serif;
    padding: 15px;
}

.h2--clases{
    color: black; 
    font-size: 30px;
    font-style:normal;
    font-family: "open-sans", sans-serif;
    padding: 15px;
}

 p{
    color:rgb(255, 255, 255); 
    font-size: 15px;
    font-style:italic;
    font-family: "open-sans", sans-serif;
    padding: 25px 50px 20px 50px;
    text-align:justify;
 }

 .p--clases{
    color: black; 
    font-size: 15px;
    font-style:italic;
    font-family: "open-sans", sans-serif;
    padding: 25px 50px 20px 50px;
    text-align:justify;

 }

 


.header{
    background-color: #000000;
    display: flex;
    padding: 10px 0px -10px 0px;
    border: solid 1px black;
    margin: 10px 10px 10px 10px; 
    justify-content:space-between;
    position: relative;
    width: 100%;
    height: 50px;
    background: #000000;
    color: #fff;
      
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.header__contenedor{
     width: 98%;
     margin: auto;
 }

.header__logo{
    float: left;
    width: auto;
    height: 100%;
       
}
   
.header__nav{
    background-color: #000000;
    display: flex;    
}

.header__list{
    display: grid;
    position: absolute;
    list-style:none;
    display: flex;
    right: 0px;
    justify-content: space-between;
    
}
.header__item{
    flex-direction: row;
    margin: 0px 1rem;
    font-size: 13px;
    text-justify:auto;
    font-style:normal;
    font-family:sans-serif;
    padding: 15px;
    display: inline;

}

 .imagen{
    flex: 1 1 50%;

}


.hero{
    height: 130vh;
    background-color: white;
    background-image: url("../assets/KIA/Kia7.jpg") whidt: 100% hight: 50% ;
    height: 100vh;;
    display:flex;
    background-size: cover;
    position: relative;    
    text-align: left;
    flex-direction: column;
    align-items: left;
    padding: 0px 0px 0px 30px
       
}

.hero_h1{
    color:#000000
}
.hero_h4{
    font-style: italic;
    color: #000;
    padding: 0px 0px 0px 50px
    
}

.hero__portfolio{
    height: 130vh;
    width: repeat;
    background-color: black;
    background: url("../assets/KIA/kia3.jpg");
    display:flex;
    background-size: cover;
    position: relative;    
    text-align: left;
    flex-direction: column;
    align-items: left;
    padding: 0px 0px 0px 30px
    
}

.hero__button{
    display: flexbox;
    position:center;
    padding: 10px 40px 10px 30px;
    background-color: rgba(0, 255, 242, 0.57);
    border-radius: 50px;
    border-style: none;
    align-self: center;

} 

.hero__p{
    position: absolute;
    padding: 130px 10px 10px 50px;
    align-self:flex-start;
}

.tracking-in-contract-bck-top {
        -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
}

.section__portfolio {
    background-color: black;
    flex-wrap: nowrap;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px 10px 50px 10px;
    align-items:center;
    justify-content: space-around;
 
}

.section__clases{
    background-color: white;
    display: flex;
    position: relative;
    align-content:space-between;
    flex-wrap: wrap;
    padding: 50px 10px 10px 10px;
    align-items:flex-start;
    justify-content:space-evenly;
}

.section__proyectos{
    background-color:white white;
    display: nowrap;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px 10px 50px 10px;
    align-items:center;
    justify-content: space-around;
}    

.portfolio--imagen{
    display: flex;
    justify-content:space-between;
    padding: 1px 50px 1px 50px;
}

.gallery__item{
    position: relative;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.formulario{
    display: flexbox;
    align-items: center;
    padding: 10px 30px 10px 30px

}

.gallery__img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.gallery__title{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
    width: 100%;
    margin: 0;
    font-size: 8px;
    font-family: sans-serif;
}
.gallery__item:nth-child(2) {
    grid-row-start: span 3;
}
.gallery__item:nth-child(4) {
    grid-row-start: span 2;
}
.gallery__item:nth-child(5) {
    grid-row-start: span 2;
}
.gallery__item:nth-child(6) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(7) {
    grid-row-start: span 2;
}

.section__nosotros{
    background-color: white;
    display: flex;
    justify-content:space-between ;
    position: relative;
    border: solid 100px white;
    flex-wrap: wrap;
    padding: 50px 10px 50px 10px;
    align-items:flex-start;
    
}

.form{

    background-color: white;
    display: flex;
    position: relative;
    align-content:space-between;
    flex-wrap: wrap;
    padding: 50px 10px 10px 10px;
    align-items:flex-start;
}

.proyectos--imagen{
    display: flex;
    justify-content:space-between;
    padding: 1px 50px 1px 50px;
}


.normal--titular{ 
    position:sticky;
    color: white;
    background-color: black;
    padding: 5px 10px;
    bottom: 20px;
    left: 10px;
    text-transform: uppercase;
    flex-shrink: initial;
    
} ---->/*texto en la foto*/_

.portfolio > div > imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio{
    background-color: white;
    display:grid;
    grid-template-columns: repeat (minmax(150px, 1fr), autofit);
    grid-template-rows: auto;
    gap: 5px;
    width: 10%; 

}

.flex-container {
    width: 10%;
}
.footer_content{
    display: grid;
    grid-template-columns: repeart (minmax(150px, 1fr), autofit);
 }
.footer__text{
    padding: 50px 76px 10px 490px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique;
    
}

/* ---- MEDIAS QUERIES---- */

/* ---- MEDIAS QUERIES TABLETS---- */

@media (min-width: 768px) {
    .gallery-container{
        grid-template-columns: repeat(4, 1fr);      
}

.gallery__item:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start: span 1;
}
.gallery__item:nth-child(4) {
    grid-row-start: span 2;
}
.gallery__item:nth-child(5) {
    grid-column-start: span 3;
    grid-row-start: span 1;
}
.gallery__item:nth-child(6) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(7) {
    grid-row-start: span 2;
}
.gallery__item:nth-child(8) {
    grid-column-start: span 2;
}


/* ---- MEDIAS QUERIES DESKTOP---- */

@media (min-width: 1024px) {
    .gallery-container{
        grid-template-columns: repeat(5, 1fr);      
}

.gallery__item:nth-child(1) {
    grid-column-start: span 1;
    grid-row-start: span 2;
}
.gallery__item:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start: span 1;
}
.gallery__item:nth-child(4) {
    grid-row-start: span 2;
}
.gallery__item:nth-child(5) {
    grid-column-start: span 3;
    grid-row-start: span 1;
}
.gallery__item:nth-child(6) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(7) {
    grid-row-start: span 1;
}
.gallery__item:nth-child(8) {
    grid-column-start: span 1;
}


